:root {
  --primary-main: #7e077e;
  --secondary-main: #f0f;
  --background-default: #f5f5f5;
  --background-paper: #fff;
  --text-primary: #111;
  --text-secondary: #555;
  --background-header: #ffffff6c;
}

[data-dark] {
  --primary-main: #7e077e;
  --secondary-main: #f0f;
  --background-default: #121212;
  --background-paper: #1e1e1e;
  --text-primary: #fff;
  --text-secondary: #aaa;
  --background-header: #0000006c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  color: var(--text-primary);
  background-color: var(--background-default);
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
