.fields {
  gap: 10px;
}

.buttons {
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.saveButton {
  margin-bottom: 20px;
}

.removeIconButton {
  min-width: 40px;
  max-height: 40px;
}

.message {
  margin-top: 0;
  margin-bottom: 30px;
  color: orange;
}

.addButton {
  margin-bottom: 10px;
}

.addButton:hover,
.removeIconButton:hover {
  .icon,
  .removeIcon {
    color: var(--mui-palette-primary-main);
  }
}
