.about {
  display: flex;
  flex-direction: column;
  gap: var(--gap15);
  align-items: center;
  width: 70%;
  padding: var(--padding40) 0 var(--padding30);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap15);
}

.project,
.rs,
.authors {
  display: flex;
  flex-direction: column;
  gap: var(--gap15);
  align-items: center;
  padding: var(--padding20) var(--padding10);
  border-top: 2px solid var(--mui-palette-primary-main);
}

.project > p,
.rs > p {
  text-indent: 3rem;
}

.logoProject,
.logoRS,
.logoAuthors {
  width: 40px;
  height: 40px;
  background-image: url('/assets/logoMini.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
}

.logoRS {
  background-image: url('/assets/logoRS.png');
}

.logoAuthors {
  background-image: url('/assets/team.png');
}

.leadContainer {
  display: flex;
  gap: var(--gap10);
}

.lead {
  width: 20px;
  height: 20px;
  background-image: url('/assets/lead.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.author {
  display: flex;
  flex-direction: column;
  gap: var(--gap10);
}
