.main {
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: var(--padding30);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainNav {
  display: flex;
  gap: var(--gap20);
  justify-content: center;
  width: 100%;
}

.welcomeText {
  font-size: 45px;
  text-align: center;
}

@media screen and (width <= 430px) {
  .welcomeText {
    font-size: 30px;
  }
}
