.gridContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 12px;
}

.urlInputGrid {
  position: relative;
  flex-grow: 1;
}

.textField {
  background-color: var(--mui-palette-background-paper);
  outline: none;
}

.select {
  width: 125px;
  font-weight: 600;
}

.menuItem {
  margin: 2px;
  font-weight: 400;
  border-radius: 3px;
  opacity: 0.5;
}

.menuItem:hover {
  font-weight: 600;
  opacity: 1;
}

.button {
  width: 125px;
  height: 42px;
}
